.version-c {
    .assessment-picker-panel {
        background-color: white;
        border-bottom: 0 solid;
        .picker-content {
        padding: 0;
        }
    }
    .picker-content .govuk-body {
        margin-bottom: govuk-spacing(3);
    }
    .picker-content .govuk-inset-text {
        padding: 20px;
        margin-top: govuk-spacing(6);
        margin-bottom: govuk-spacing(6);
    }
    .govuk-main-wrapper {
        padding-top: govuk-spacing(7);
    }
    .assessment-picker-panel h2 {
        margin-bottom: govuk-spacing(0);
    }
    .sidebar.save-progress-panel {
        padding-left: 10px;
    }
    .govuk-panel--confirmation .progress-status-panel .progress-bar {
        background-color: white;
    }
    .sidebar {
        .govuk-heading-m {
            padding-top: govuk-spacing(3);
        }
    }
    .get-help-panel {
        margin-top: govuk-spacing(6);
        background-color: pink;
    }
    .sidebar p.govuk-body {
        margin-bottom: govuk-spacing(1);
    }
    .results-intro-panel .govuk-grid-column-one-third {
        margin-top: govuk-px-to-rem(0);
    }
    .progress-status-panel .progress-number {
        color: white;
    }
    .result-panel {
        .govuk-heading-m {
          margin-bottom: 0;
          padding: govuk-px-to-rem(0);
          background-color: white;
        }
        .result-content {
            padding: 0;
            padding-top: govuk-px-to-rem(20);
          background-color: white;
        }
    }

    .page-masthead.govuk-full-width-container {
        p.govuk-body-l {
        margin-bottom: govuk-px-to-rem(50);
        }
    }

    .result-content, .result-detail {
        .embedded-fa-icon svg {
        height: 2.25rem;
        color: #217c74;
        }
    }

    .result-card {
        background-color: govuk-colour("grey-4");
    }

    .result-actions {
        text-align: center;
    }

    .level-min, .level-max{
        font-size: govuk-px-to-rem(16);
    }

    .hours span {
        font-size: govuk-px-to-rem(16);
    }

    .work-pattern span {
        font-size: govuk-px-to-rem(16);
    }
}
