// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

/*--- FUNCTIONS --------------------------------------------------------------*/

// Lighten a color
// @param {Color} $color - color to tint
// @return {Color}
@function tint-25($color) {
  @return mix(#ffffff, $color, 25%);
}
@function tint-50($color) {
  @return mix(#ffffff, $color, 50%);
}

// Darken a color
// @param {Color} $color - color to shade
// @return {Color}
@function shade-25($color) {
  @return mix(#0b0c0c, $color, 25%);
}
@function shade-50($color) {
  @return mix(#0b0c0c, $color, 50%);
}

/*--- CUSTOM STYLES ----------------------------------------------------------*/

// SHARED STYLES
// -------------

// Forms as standard (for easier prototyping and session stuff)

button.button-as-link {

   background: none !important;
   color: $govuk-link-colour;
   border: none;
   padding: 0 !important;
   font: inherit;
   cursor: pointer;
   text-decoration: underline;

   &:hover { color: $govuk-link-hover-colour; }
   &:active { color: $govuk-link-active-colour; }
   &:visited { color: $govuk-link-visited-colour; }
   &:disabled {
     color: govuk-colour("grey-2");
     pointer-events: none;
     cursor: default;
   }

}

// Main page header

header.govuk-header {

  .govuk-header__container {
    &.layout-masthead {
      border-color: govuk-colour("white");
    }
  }

}

// Masthead

.page-masthead {

  margin-top: govuk-px-to-rem(-10);
  padding-top: govuk-px-to-rem(10);
  padding-bottom: govuk-px-to-rem(32);
  background-color: shade-25(govuk-colour("turquoise"));

  .govuk-phase-banner p,
  .govuk-breadcrumbs ol li,
  h1, p, a { color: govuk-colour("white"); }

  a.govuk-link {
    color: govuk-colour("white");
    &:hover { color: govuk-colour("black"); }
  }

  h1 {
    margin-top: govuk-px-to-rem(32);
    margin-bottom: govuk-px-to-rem(16);
  }

  p.govuk-body-l { margin-bottom: govuk-px-to-rem(32); }

}

// Sidebar

.sidebar {

  margin-bottom: govuk-px-to-rem(16);
  border-top: govuk-px-to-rem(8) solid shade-25(govuk-colour("turquoise"));
  padding-top: govuk-px-to-rem(16);

  .govuk-form-group {
    margin-bottom: govuk-px-to-rem(16);
  }

  &.resume-panel {
  }

  &.get-help-panel {
  }

  &.save-progress-panel {
    border-top: none;
    border-bottom: govuk-px-to-rem(2) solid $govuk-border-colour;
    padding: govuk-px-to-rem(8);
    background-color: govuk-colour("grey-4");
    h3,
    p.govuk-body { margin-bottom: govuk-px-to-rem(8); }
  }

}

// Footer

.govuk-footer__meta-custom {

  .footer-notes {
    color: shade-25(govuk-colour("grey-2"));
    a {
      color: inherit;
      &:hover { color: shade-50(govuk-colour("grey-2")); }
    }
  }

}

// PAGE SPECIFIC
// -------------

// Landing page

.assessment-picker-panel {

  margin-bottom: govuk-px-to-rem(32);
  background-color: tint-50(govuk-colour("grey-3"));
  border-bottom: govuk-px-to-rem(2) solid $govuk-border-colour;

  h2 {
    margin-bottom: 0;
    padding: govuk-px-to-rem(16);
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
  }

  .picker-content {
    padding: govuk-px-to-rem(16);
    padding-top: 0;
  }

}
