// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";



/*--- FUNCTIONS --------------------------------------------------------------*/

// Lighten a color
// @param {Color} $color - color to tint
// @return {Color}
@function tint-25($color) {
  @return mix(#ffffff, $color, 25%);
}
@function tint-50($color) {
  @return mix(#ffffff, $color, 50%);
}

// Darken a color
// @param {Color} $color - color to shade
// @return {Color}
@function shade-25($color) {
  @return mix(#0b0c0c, $color, 25%);
}
@function shade-50($color) {
  @return mix(#0b0c0c, $color, 50%);
}

/*--- CUSTOM STYLES ----------------------------------------------------------*/

// SHARED STYLES
// -------------

// Forms as standard (for easier prototyping and session stuff)

button.button-as-link {

   background: none !important;
   color: $govuk-link-colour;
   border: none;
   padding: 0 !important;
   font: inherit;
   cursor: pointer;
   text-decoration: underline;

   &:hover { color: $govuk-link-hover-colour; }
   &:active { color: $govuk-link-active-colour; }
   &:visited { color: $govuk-link-visited-colour; }
   &:disabled {
     color: govuk-colour("grey-2");
     pointer-events: none;
     cursor: default;
   }

}

a.back-to-top-link {
  svg.icon {
    display: inline-block;
    width: .8em;
    height: 1em;
    margin-top: govuk-px-to-rem(-5);
    margin-right: govuk-px-to-rem(10);
    vertical-align: middle;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

// Main page header

header.govuk-header {

  .govuk-header__container {
    &.layout-masthead {
      border-color: govuk-colour("white");
    }
  }

}

// Masthead

.page-masthead {

  margin-top: govuk-px-to-rem(-10);
  padding-top: govuk-px-to-rem(10);
  padding-bottom: govuk-px-to-rem(32);
  background-color: shade-25(govuk-colour("turquoise"));

  .govuk-phase-banner p,
  .govuk-breadcrumbs ol li,
  .govuk-breadcrumbs ol li a,
  h1, p, a { color: govuk-colour("white"); }

  .govuk-breadcrumbs__list-item::before {
    border-color: govuk-colour("white");
  }

  a.govuk-link {
    color: govuk-colour("white");
    &:hover { color: govuk-colour("black"); }
  }

  h1 {
    margin-top: govuk-px-to-rem(32);
    margin-bottom: govuk-px-to-rem(16);
  }

  p.govuk-body-l { margin-bottom: govuk-px-to-rem(32); }

}

// Masthead intro

.results-intro-panel {

  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  background-color: tint-50(govuk-colour("grey-3"));

  .govuk-grid-column-one-third {

    margin-top: govuk-px-to-rem(-96);

    .sidebar {

      &.save-progress-panel {
        @include govuk-responsive-margin(6, "bottom");
        border-top: 3px solid shade-50(govuk-colour("turquoise"));
        border-bottom: none;
      }

      &.use-results-panel {
        border-top: 7px solid shade-25(govuk-colour("turquoise"));
      }

    }

  }

}

// Main panels

.progress-status-panel {
  @include govuk-responsive-margin(9, "bottom");

  .progress-number {
    display: block;
    float: left;
    width: govuk-px-to-rem(100);
    color: govuk-colour("green");
    font-family: sans-serif;
    font-weight: bold;
  }

  .progress-bar {
    display: block;
    position: relative;
    float: right;
    top: govuk-px-to-rem(16);
    width: calc(100% - 100px);
    height: govuk-px-to-rem(10);
    border-radius: govuk-px-to-rem(5);
    background-color: govuk-colour("grey-2");
    overflow: hidden;

    span {
      display: block;
      height: govuk-px-to-rem(10);
      width: 0%;
      border-radius: govuk-px-to-rem(5);
      background-color: govuk-colour("green");
    }

  }

  &.status-100 {
    .progress-number { color: govuk-colour("white"); }
    .progress-bar span { background-color: govuk-colour("white"); }
  }

}


// Sidebar

.sidebar {

  margin-bottom: govuk-px-to-rem(16);
  border-top: govuk-px-to-rem(8) solid shade-25(govuk-colour("turquoise"));
  padding: govuk-px-to-rem(0);
  padding-top: govuk-px-to-rem(0);

  .govuk-form-group {
    margin-bottom: govuk-px-to-rem(16);
  }

  &.resume-panel {}

  &.get-help-panel {}

  &.save-progress-panel {
    border-top: none;
    border-bottom: govuk-px-to-rem(2) solid $govuk-border-colour;
    background-color: tint-50(govuk-colour("grey-3"));
    h3,
    p.govuk-body { margin-bottom: govuk-px-to-rem(8); }
  }

  &.use-results-panel {}

}

// Footer

.govuk-footer__meta-custom {

  .footer-notes {
    color: shade-25(govuk-colour("grey-2"));
    a {
      color: inherit;
      &:hover { color: shade-50(govuk-colour("grey-2")); }
    }
  }

}

// PAGE SPECIFIC
// -------------

// Landing page

.assessment-picker-panel {

  margin-bottom: govuk-px-to-rem(32);
  background-color: tint-50(govuk-colour("grey-3"));
  border-bottom: govuk-px-to-rem(2) solid $govuk-border-colour;

  h2 {
    margin-bottom: 10;
        padding: govuk-px-to-rem(16);
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
  }

  .picker-content {
    @include govuk-responsive-padding(4);
  }

}

// Assessment question

.app-controls {
  text-align: right;
}

fieldset.app-question {
  @include govuk-responsive-margin(7, "bottom");

  div.question {
    height: 100%;

    margin: 0;
    top: 50%;
    position: relative;
    legend {
      margin: 0;
    }
  }

  div.answer {

    border-left: 1px solid govuk-colour("black");
    margin-bottom: 0;

    &.govuk-form-group--error { border-color: $govuk-error-colour; }

    .govuk-radios {

      .govuk-radios__label {
        padding-left: 0;
        padding-right: 0;
      }

      .govuk-radios__item {
        width: 20%;
        margin-right: 0;
        padding-left: 0;
        text-align: center;

        input.govuk-radios__input {
          left: 50%;
          transform: translateX(-50%);
        }

        label {
          // width:100%;
          @include govuk-responsive-margin(7, "top");

          &:before {
            left: 50%;
            transform: translateX(-50%);
          }
          &:after {
            left: calc(50% + 10px);
          }
        }

      }

    }

  }

  div.next-button {
    text-align: right;

    button { width: govuk-px-to-rem(240); }

    button.skip-questions {
      float: left;
      width: auto;
      background-color: tint-25(govuk-colour("grey-3"));
      box-shadow: 0 2px 0 govuk-colour("grey-3");
      &:hover {
        background-color: govuk-colour("grey-3");
      }
    }
  }

}

// Assessment complete

.govuk-panel--confirmation {
  background-color: govuk-colour("turquoise");

  h1.govuk-panel__title {
    clear: both;
    @include govuk-responsive-margin(4, "top");
  }

}

// Assessment results

ul.assessment-results {

  padding-left: 0;
  list-style: none;

  li {

    padding-bottom: govuk-px-to-rem(32);

    .result-content {

      .govuk-button { margin-bottom: 0; }

    }

  }

  &.job-categories {

    h3 {
      margin-bottom: 0;
      padding: govuk-px-to-rem(16);
      background-color: govuk-colour("grey-3");
    }

    .result-content {

      padding: govuk-px-to-rem(16);
      background-color: tint-50(govuk-colour("grey-3"));

    }

  }

  &.job-roles {

    .result-panel {
      @include govuk-responsive-margin(6, "bottom");
      border-bottom: 1px solid govuk-colour("grey-2");
      @include govuk-responsive-padding(3, "bottom");

      .result-content {

        p.govuk-body:first-of-type { color: govuk-colour("grey-1"); }

        .result-options {
          h4 { @include govuk-responsive-margin(2, "bottom"); }
        }

        .result-actions {
          .govuk-button {
            margin-bottom: govuk-px-to-rem(12);
            font-size: govuk-px-to-rem(19);
          }
        }
      }
    }
  }
}

.result-detail {

  @include govuk-responsive-margin(2, "bottom");
  clear: both;

  h4 {
    border-bottom: 1px solid govuk-colour("grey-2");
    padding-bottom: govuk-px-to-rem(4);
    font-weight: normal;

    span { margin-left: govuk-px-to-rem(8); }
  }

  .embedded-fa-icon {
    float: left;
    width: govuk-px-to-rem(36);
    height: auto;
    padding: govuk-px-to-rem(2);
    text-align: center;

    svg {
      height: govuk-px-to-rem(36);
      color: shade-25(govuk-colour("turquoise"));
    }
  }

}

.result-meta {
  float: right;
  width: calc(100% - 60px);
  @include govuk-responsive-padding(2, "left");

  p {
    float: left;
    width: 50%;
  }

  p.hours,
  p.work-pattern {
    width: 100%;
    font-size: govuk-px-to-rem(19);

    span {
      display: block;
      font-size: govuk-px-to-rem(19);
    }
  }

}

.salary-min {
  margin-bottom: govuk-px-to-rem(8);
  font-size: govuk-px-to-rem(19);
}

.salary-max {
  float: right;
  margin-bottom: govuk-px-to-rem(8);
  text-align: right;
  font-size: govuk-px-to-rem(19);
}

p.level-max {
  float: right;
  text-align: right;
}

.range-bar {
  clear: both;
  margin-bottom: govuk-px-to-rem(8);
  width: calc(100% - 8px);
  border-left: 4px solid shade-25(govuk-colour("turquoise"));
  border-right: 4px solid shade-25(govuk-colour("turquoise"));
  padding-top: govuk-px-to-rem(4);
  padding-bottom: govuk-px-to-rem(4);

  hr {
    border: 2px solid shade-25(govuk-colour("turquoise"));
  }
}

// Save my progress

.progress-reference-number-panel {

  @include govuk-responsive-margin(7, "bottom");
  border-left: 10px solid shade-25(govuk-colour("turquoise"));
  @include govuk-responsive-padding(5);
  @include govuk-responsive-padding(3, "top");
  @include govuk-responsive-padding(3, "bottom");
  background-color: tint-50(govuk-colour("grey-3"));

  p { margin-bottom: 0; }

  span.govuk-heading-xl {
    margin-bottom: 0;
    @include govuk-responsive-padding(2, "top");
    @include govuk-responsive-padding(2, "bottom");
  }

  .ref-meta {
    p { color: govuk-colour("grey-1"); }
  }

}

// NON-PROTOTYPE STYLES e.g. Launch page
// -------------------------------------
.prototype-version-list,
.prototype-about,
.prototype-resource-list {

  // Just to avoid having to add 'govuk-link--no-visited-state' to every link
  .govuk-link:visited, a:visited { color: $govuk-link-colour; }
  .govuk-link:hover, a:hover { color: $govuk-link-hover-colour; }

  span.latest-version {
    color: govuk-colour("orange");
  }

}

.prototype-version-list {

  dl.release-desc {

    dt {}
    dd {
      margin-left: 0;
      @include govuk-responsive-margin(2, "bottom");
    }

  }

}

// Version overrides
@import "versions/version-a";
@import "versions/version-b";
@import "versions/version-c";
