{% extends "layout.html" %}

{% set bodyClasses = "version-c" %}
{% set qNum = data['question-num'] | parseQuestionNumber %}
{% set thisPage = "filter-questions-q" + qNum %} {# Required. Used for automatically posting back to self #}
{% set nextPage = "" %} {# Optional. Default "". Used to automatically override posting back to self e.g. if no validation or logic is required #}
{% set pageTitle = "See job categories" %} {# Required. Used for html title and in-page title or masthead title #}
{% set questionData = data['assessment-data']['filter-questions'][qNum - 1] %} {# Required. Used for question content #}

{% block pageTitle %} {{ pageTitle }} | National Careers Service {% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      { text: "Home: Discover your skills and careers", href: "landing" },
      { text: "Discover job categories" }
    ]
  }) }}

{% endblock %}

{% block content %}

  <form action="{{ nextPage or thisPage }}" method="POST" role="form">

    <div class="govuk-grid-row">

      {% if data['error-missing'] %}
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li><a href="#select-answer-error">{{ questionData['errors']['missing'] }}</a></li>
            </ul>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="govuk-grid-column-two-thirds">

        {% include "blocks/assessment-progress-status.html" %}

      </div>

      <div class="govuk-grid-column-one-third">

        {% include "blocks/assessment-save-progress.html" %}

      </div>
</div>
    <div class="govuk-grid-row">
      <div class="govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  {{ questionData['question'] }}
                </h1>
              </legend>
              <span id="changed-name-hint" class="govuk-hint">
                This could include any descriptive element
              </span>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-1" name="answer" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changed-name-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="answer" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

        <div class="app-controls next-button govuk-grid-column-full govuk-form-group">
          <button type="submit" class="govuk-button">Next</button>
        </div>
      </div>



      </div>

    </div>

  </form>

{% endblock %}
