.version-c {
    .assessment-picker-panel {
        background-color: white;
        border-bottom: 0 solid;
        .picker-content {
        padding: 0;
        }
    }
    .picker-content .govuk-body {
        margin-bottom: govuk-spacing(3);
    }
    .picker-content .govuk-inset-text {
        padding: 20px;
        margin-top: govuk-spacing(6);
        margin-bottom: govuk-spacing(6);
    }
    .govuk-main-wrapper {
        padding-top: govuk-spacing(7);
    }
    .assessment-picker-panel h2 {
        margin-bottom: govuk-spacing(0);
    }
    .sidebar.save-progress-panel {
        padding-left: 10px;
    }
    .govuk-panel--confirmation .progress-status-panel .progress-bar {
        background-color: white;
    }
    .sidebar {
        .govuk-heading-m {
            padding-top: govuk-spacing(3);
        }
    }
    .get-help-panel {
        margin-top: govuk-spacing(6);
        background-color: pink;
    }
    .sidebar p.govuk-body {
        margin-bottom: govuk-spacing(1);
    }
    .results-intro-panel .govuk-grid-column-one-third {
        margin-top: govuk-px-to-rem(0);
    }
    .progress-status-panel .progress-number {
        color: govuk-colour("green");
    }
    .result-panel {
        .govuk-heading-m {
          margin-bottom: 0;
          padding: govuk-px-to-rem(0);
          background-color: white;
        }
        .result-content {
            padding: 0;
            padding-top: govuk-px-to-rem(20);
          background-color: white;
        }
    }

    .page-masthead.govuk-full-width-container {
        p.govuk-body-l {
        margin-bottom: govuk-px-to-rem(50);
        }
    }

    .result-content, .result-detail {
        .embedded-fa-icon svg {
        height: 2.25rem;
        color: #217c74;
        }
    }

    .result-card {
        background-color: govuk-colour("grey-4");
    }

    .result-actions {
        text-align: center;
    }

    .level-min, .level-max{
        font-size: govuk-px-to-rem(16);
    }

    .result-meta {
        .level-min {
            width: 20%;
        }
    }

    .result-meta {
        .hours span {
            font-size: govuk-px-to-rem(16);
            }

        .work-pattern span {
            font-size: govuk-px-to-rem(16);
            }
    }

    .result-card {
        padding: 15px;
        margin-bottom: govuk-px-to-rem(30);
    }

    .result-actions, .govuk-button {
        margin-bottom: govuk-px-to-rem(0);
    }

    .more-info {
        margin-bottom: 20px;
    }

    .subtext {
        color:  $govuk-secondary-text-colour;
    }
    
    .long-results-info {
        margin-top: govuk-px-to-rem(30);
        .govuk-body {
            margin-bottom: 7px;
        }
        .profile-link {
            margin-top: 15px;
        }
    }

    .long-v2-result {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: solid 1px;
        border-bottom-color: grey;
    }

    .govuk-inset-text :first-child {
        padding-top: 0px;
    }

    .govuk-heading-m.job-category-title {
        margin-bottom: 5px;
        }
    
    a.back-to-top-link {
        display: block;
        margin-top: 20px;
        svg.icon {
            display: inline-block;
            width: .8em;
            height: 1em;
            margin-right: govuk-px-to-rem(10);
            vertical-align: middle;
        }
    }

    .long-results-category {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .govuk-main-wrapper {
        padding-top: 20px;
        .govuk-heading-l {
            padding-bottom: 20px;
        }
    }

    .app-controls {
        text-align: left;
        padding: 0px;
      }
    
}