.version-b {  
    .assessment-picker-panel h2 {
        margin-top: 20px;
    }
    .sidebar.save-progress-panel {
        padding-left: 10px;
    }
    .govuk-panel--confirmation .progress-status-panel .progress-bar {
        background-color: white;
    }
}