{% extends "layout.html" %}

{% set bodyClasses = "version-c" %}
{% set thisPage = "start" %} {# Required. Used for automatically posting back to self #}
{% set nextPage = "long-assessment-q1" %} {# Optional. Default "". Used to automatically override posting back to self e.g. if no validation or logic is required #}
{% set pageTitle = "Discover specific job roles that could suit you" %} {# Required. Used for html title and in-page title or masthead title #}

{% block pageTitle %} {{ pageTitle }} | National Careers Service {% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      { text: "Discover your skills and careers", href: "landing" },
      { text: "See specific job roles" }
    ]
  }) }}

{% endblock %}

{% block content %}

  <form action="{{ nextPage or thisPage }}" method="POST" role="form">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <h2 class="govuk-heading-m">About this assessment</h2>
        <p class="govuk-body">This assessment asks you to agree or disagree with statements about yourself.</p>
        <p class="govuk-body">We’ll use your answers to suggest specific job roles you might be suited to.</p>

        <h2 class="govuk-heading-m">How long it will take</h2>
        <p class="govuk-body">There are 71 questions.</p>
        <p class="govuk-body">The assessment could take 10-15 minutes.</p>
        <p class="govuk-body">It will take longer than this if you’re using assistive technologies, for example a screen reader or screen magnifier.</p>
        <p class="govuk-body">You can save your assessment if you want to complete it later, or look at your results again another time.</p>

        <h2 class="govuk-heading-m">How to respond</h2>
        <p class="govuk-body">A lot of the statements are about how you are at work. If you have not had a job yet, think how you are with your friends and family.</p>

        <input type="hidden" id="question-num" name="start-assessment" value="1">
        <button type="submit" class="govuk-button govuk-button--start">Start now</button>

      </div>

      <div class="govuk-grid-column-one-third">

        {% include "blocks/sidebar-get-help.html" %}

      </div>

    </div>

  </form>

{% endblock %}
