{% extends "layout-masthead.html" %}

{% set mastHeadTitle = "Discover your skills and careers" %}
{% set mastHeadIntro = "Take a quick assessment to see job categories you might be suited to. Or take a longer assessment to see specific job roles." %}

{% block pageTitle %} Start | National Careers Service {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <form action="teacher-enter-location" method="POST" role="form">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <div class="app-assessment-picker">
          <h2 class="govuk-heading-l">See job categories</h2>
          <div class="picker-content">
            <div class="govuk-inset-text">
              5 minutes
            </div>
            <p class="govuk-body">
              <button type="submit" class="button-as-link" formaction="start">Start short assessment</button>
            </p>
          </div>
        </div>

        <div class="app-assessment-picker">
          <h2 class="govuk-heading-l">See specific job roles</h2>
          <div class="picker-content">
            <div class="govuk-inset-text">
              10 to 15 minutes
            </div>
            <p class="govuk-body">
              <button type="submit" class="button-as-link" formaction="start" disabled>Start long assessment</button>
            </p>
          </div>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
        <div class="app-sidebar app-resume-panel">
          <h3 class="govuk-heading-m">Resume your progress</h3>
            <div class="app-resume-panel__input govuk-form-group">
              <label class="govuk-label" for="code">Reference number</label>
              <input class="govuk-input" id="code" name="code" type="text">
            </div>
            <button type="submit" class="govuk-button app-button" gov-analytics-data="home | click | button | Resume progress">
              Resume progress
            </button>
        </div>
      </div>

    </div>

  </form>

{% endblock %}
