{% extends "layout-masthead.html" %}

{% set thisPage = "landing" %} {# Required. Used for automatically posting back to self #}
{% set nextPage = "" %} {# Optional. Default "". Used to automatically override posting back to self e.g. if no validation or logic is required #}
{% set pageTitle = "Discover your skills and careers" %} {# Required. Used for html title and in-page title or masthead title #}
{% set pageIntro = "Take a quick assessment to see job categories you might be suited to. Or take a longer assessment to see specific job roles." %} {# Optional. Used in masthead. #}

{% block pageTitle %} {{ pageTitle }} | National Careers Service {% endblock %}

{% block header %}

  {{ super() }}

  <div class="page-masthead govuk-full-width-container">
    <div class="govuk-width-container">

      {% include "blocks/phase-banner.html" %}

      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home: Discover your skills and careers"
          }
        ]
      }) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
          <p class="govuk-body-l">{{ pageIntro }}</p>
        </div>
      </div>

    </div>

  </div>

{% endblock %}

{% block content %}

  <form action="{{ nextPage or thisPage }}" method="POST" role="form">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <div class="assessment-picker-panel">
          <h2 class="govuk-heading-l">See job categories</h2>
          <div class="picker-content">
            <div class="govuk-inset-text">
              5 minutes
            </div>
            <p class="govuk-body">
              <button type="submit" class="button-as-link" formaction="start">Start short assessment</button>
            </p>
          </div>
        </div>

        <div class="assessment-picker-panel">
          <h2 class="govuk-heading-l">See specific job roles</h2>
          <div class="picker-content">
            <div class="govuk-inset-text">
              10 to 15 minutes
            </div>
            <p class="govuk-body">
              <button type="submit" class="button-as-link" formaction="start" disabled>Start long assessment</button>
            </p>
          </div>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">

        <div class="sidebar resume-panel">
          <h3 class="govuk-heading-m">Return to an asessment</h3>
          <div class="govuk-form-group">
            <label class="govuk-label" for="reference-number">Enter your reference number</label>
            <input class="govuk-input" id="reference-number" name="reference-number" type="text">
          </div>
          <button type="submit" class="govuk-button">Resume progress</button>
        </div>

        {% include "blocks/sidebar-get-help.html" %}

      </div>

    </div>

  </form>

{% endblock %}
